.aboutCompany-content_position {
    margin-top: 10.3rem;
    padding-left: 3.6rem;

    @include breakpoint($cos-bp) {
        padding-left: 0rem;
    }

    @include breakpoint($jb-bp) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 3rem;
    }

    @include breakpoint($sm-bp) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.aboutCompany {
    padding-bottom: 30rem;
    width: 82.6%;

    @include breakpoint($sm-bp) {
        padding-bottom: 14rem;
    }
}

.aboutCompany-content {
    h2 {
        font-weight: 500;
        font-size: 6.4rem;
        line-height: 120.6%;
        text-transform: uppercase;
        color: #000000;

        @include breakpoint($sm-bp) {
            font-size: 4.2rem;
        }
    }

    .aboutCompany-content__mainBlock {
        display: grid;
        grid-template-columns: 1fr 1.42fr;
        margin-top: 8rem;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 137.1%;
        color: #000000;

        @include breakpoint($xl-bp) {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }

        @include breakpoint($jb-bp) {
            margin-top: 3rem;
        }

        @include breakpoint($sm-bp) {
            font-size: 1.9rem;
        }

        span {
            font-weight: 700;
        }

        .aboutCompany-content__textContainer {
            width: 70%;
            margin-top: 7.1rem;

            @include breakpoint($cos-bp) {
                margin-top: unset;
            }

            @include breakpoint($nb-bp) {
                width: 85%;
            }

            @include breakpoint($jb-bp) {
                width: 100%;
            }
        }

        .aboutCompany-content__textContainer:last-child {
            margin-top: unset !important;
        }

        .aboutCompany-content__imgContainer {
            width: 88.9%;
            grid-area: 1 / 2 / 3 / 3;

            @include breakpoint($jb-bp) {
                width: 100%;
            }

            img {
                width: 100%;
            }
        }
    }
}

.aboutCompany-contact_position {
    margin-top: 20rem;
    margin-left: 45rem;
    display: flex;

    @include breakpoint($nb-bp) {
        margin-left: 27rem;
    }

    @include breakpoint($cos-bp) {
        margin-left: 22rem;
    }

    @include breakpoint($xl-bp) {
        margin-left: 10rem;
    }

    @include breakpoint($jb-bp) {
        margin-left: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        margin-left: unset;
        margin-top: 4rem;
    }


}

.aboutCompany-content__textContainer_helper {
    width: 71% !important;
}