.article-content_position {
    margin-top: 4.6rem;
    padding-left: 3.6rem;

    @include breakpoint($jb-bp) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        padding: 0rem;
        margin-top: 3rem;
    }
}

.article {
    padding-bottom: 16rem;

    @include breakpoint($sm-bp) {
        padding-bottom: 10rem;
    }
}

.article-content {
    h2 {
        font-weight: 600;
        font-size: 6.4rem;
        line-height: 134.27%;
        text-transform: uppercase;
        color: #000000;
        width: 75%;
        margin-bottom: 3rem;

        @include breakpoint($jb-bp) {
            width: 100%;
        }

        @include breakpoint($sm-bp) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-size: 4.2rem;
            margin-bottom: 0rem;
        }
    }

    .article-content__block {
        margin-top: 7rem;

        .article-content__imgContainer {
            width: 100%;
            img {
                width: 100%;
            }
        }

        .article-content__textContainer {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 137.1%;
            color: #000000;
            margin-top: 11.2rem;
            width: 55.73%;

            @include breakpoint($jb-bp) {
                width: 100%;
            }

            @include breakpoint($sm-bp) {
                margin-top: 3rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
        }
    }

    .article-content__block_firstElem {
        margin-top: 3rem;
    }

    .article-content__textContainer_secondElem {
        margin-top: 6.1rem !important;
    }
}

