.design {
    padding-bottom: 17.6rem;
    width: 82.6%;

    @include breakpoint($xl-bp) {
        width: 100%;
        padding-left: 2.2rem;
        padding-right: 2.2rem;
    }

    @include breakpoint($jb-bp) {
        padding-left: unset;
        padding-right: unset;
    }
    

    @include breakpoint($sm-bp) {
        padding-bottom: 10rem;
    }
}

#designServices {
    display: none;
}

.design-header {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    padding-left: 3.6rem;

    @include breakpoint($nb-bp) {
        grid-template-columns: 1fr 0.9fr;
    }

    @include breakpoint($xl-bp) {
        padding-left: 0rem;
        margin-top: 12rem;
        grid-template-columns: 1fr 1fr;
    }
    
    @include breakpoint($jb-bp) {
        padding-left: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        display: block;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-top: 10rem;
    }

    

    h2, h1 {
        font-weight: 500;
        font-size: 6.4rem;
        line-height: 120.6%;
        text-transform: uppercase;
        color: #000000;
        margin-top: 10rem;

        @include breakpoint($xl-bp) {
            margin-top: 0rem;
        }

        @include breakpoint($sm-bp) {
            font-size: 4.3rem;
            margin-top: 3rem;
        }
    }

    div {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 130.6%;
        color: #000000;
        width: 83%;

        @include breakpoint($sm-bp) {
            width: 100%;
        }
    }

    .design-header__textBlock {
        margin-top: -1.6rem;
        width: 86%;

        @include breakpoint($cos-bp) {
            font-size: 2.2rem;
        }

        @include breakpoint($xl-bp) {
            font-size: 2.2rem;
            margin-top: 0rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        @include breakpoint($sr-bp) {
            margin-top: 0rem;
        }

        @include breakpoint($sm-bp) {
            margin-top: 1rem;
            width: 100%;
        }
    }

    .design-header__imgContainer {
        width: 76%;
        grid-area: 1 / 2 / 3 / 3;

        @include breakpoint($xl-bp) {
            width: 100%;
        }

        @include breakpoint($sm-bp) {
            width: 100%;
            margin-top: 3rem;
            margin-bottom: 1rem;
        }

        img {
            width: 100%;
        }
    }
}

.organizationOfSpace-whyContainer__subtitle_position {
    width: 68%;
    font-size: 2.8rem !important;

    @include breakpoint($xl-bp) {
        width: 100%;
    }
}

.organizationOfSpace-whyContainer__listContainer_position {
    margin-top: 7.9rem !important;
    gap: 6.4rem !important;
}

.design-include__position {
    grid-template-columns: 1fr 2.72fr;
    margin-top: 18rem;
    padding-left: 3.6rem;



    @include breakpoint($xl-bp) {
        grid-template-columns: 1fr;
        padding-left: 0rem;
    }

    @include breakpoint($jb-bp) {
        margin-top: 12rem;
        padding-left: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        padding-left: 1.5rem;
    }
}

.design-include__imgContainer {
    width: 100%;
    margin-top: 9.8rem;

    @include breakpoint($sm-bp) {
        margin-top: 3rem;
    }

    img {
        width: 100%;
    }
}

.design-include__textPosition {
    width: 92% !important;

    @include breakpoint($sm-bp) {
        h2 {
            width: 64% !important;
            font-size: 4.2rem !important;
            font-weight: 500 !important;
        }
    }
}

.organizationOfSpace-include__swiperBlock_design {
    margin-top: 10.5rem !important;

    @include breakpoint($xl-bp) {
        margin-top: 5.5rem !important;
    }
    
    @include breakpoint($sm-bp) {
        margin-top: 3rem !important;
    }
}

#designInContact {
    margin-top: 20rem;

    @include breakpoint($sm-bp) {
        margin-top: 15rem; 
    }
}

.design-include__swiper {
    margin-top: 3rem;

    .swiper-slide {
        font-weight: 600;
        font-size: 2rem;
        line-height: 130.6%;
        color: #000000;
        cursor: grab;

        @include breakpoint($xl-bp) {
            font-size: 2.2rem;
            font-weight: 700;
        }

        @include breakpoint($sm-bp) {
            font-size: 1.9rem;
        }
    }

    .swiper-slide:active {
        cursor: grabbing;
    }
}

.design-linkContainer_position {


    @include breakpoint($jb-bp) {
        margin-left: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        margin-left: 1.5rem;
        display: flex;
        justify-content: flex-end;
    }

    a {

        @include breakpoint($sm-bp) {
            font-size: 1.7rem;
        }
    }
}

.design-whyContainer_position {
    margin-top: 21rem;
    padding-left: 3.6rem;

    @include breakpoint($xl-bp) {
        padding-left: 0rem;
        margin-top: 7rem;
    }

    @include breakpoint($jb-bp) {
        padding-left: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 3rem;
        padding-left: 1.5rem;
    }
}

.design__helper {
    top: -2.7rem;
    left: 2.6%;
    right: unset;


    @include breakpoint($sm-bp) {
        font-size: 1.9rem !important;
    }
}

.design-whyContainer__subtitle_position {
    width: 83% !important;
    font-size: 3.6rem !important;

    @include breakpoint($xl-bp) {
        width: 100% !important;
        font-size: 2.8rem !important;
    }

    @include breakpoint($sm-bp) {
        width: 102% !important;
    }
}

.design-include_position {
    margin-top: 18rem;
    display: flex;
    margin-left: 28.6%;

    width: 41.3%;

    @include breakpoint($xl-bp) {
        width: 100%;
        margin-left: unset;
        margin-top: 8rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-top: 4rem;
    }
}

.design-text_position {
    margin-top: 17rem;
    margin-left: 16.7%;

    @include breakpoint($xl-bp) {
        margin-left: 0rem;
    }

    @include breakpoint($jb-bp) {
        padding-left: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        padding-left: 1.5rem;
        margin-top: 14rem;
    }
}