.footer-content {
    display: flex;
    border-top: 0.3rem solid #000000;
    padding: 6.3rem 8rem 4.2rem 8rem;
    justify-content: space-between;

    @include breakpoint($jb-bp) {
        justify-content: center;
        flex-direction: column;
        padding: 4rem 0rem 2.6rem 0rem;
        gap: 4rem;
    }

    .footer-content__adress {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 100.1%;
        text-transform: uppercase;
        color: #000000;

        @include breakpoint($jb-bp) {
            text-align: center;
        }

        @include breakpoint($sm-bp) {
            font-size: 1.8rem;
            line-height: 100.1%;
        }
    }

    .footer-content__mail {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 100.1%;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #000000;
    }

    .footer-content__contactsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        .footer-content__phones {
            display: flex;
            flex-direction: column;

            a {
                font-style: normal;
                font-weight: 500;
                font-size: 2rem;
                line-height: 136.6%;
                text-decoration-line: underline;
                text-transform: uppercase;
                color: #000000;

                @include breakpoint($sm-bp) {
                    font-size: 1.8rem;
                }
            }
        }

        .footer-content__socialMediaContainer {
            display: flex;
            gap: 4rem;

            svg {
                width: 4.5rem;
                height: 4.5rem;            
            }

            img {
                width: 100%;
            }
        }

        .footer-content__yar {
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 136.6%;
            text-decoration-line: underline;
            color: #000000;
        }
    }

    .footer-content__mail {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 136.6%;
        text-decoration-line: underline;
        color: #000000;
    }
}

.footer-content__mail_mobile {
    display: none;
    font-size: 2rem !important;
    font-weight: 500 !important;

    @include breakpoint($jb-bp) {
        display: block;
    }
}

.footer-content__mail_desctop {
    @include breakpoint($jb-bp) {
        display: none;
    }
}