.footer-content {
    display: flex;
    border-top: 3px solid #000000;
    padding: 6.3rem 6.5rem 4.2rem 8rem;
    align-items: center;

    @include breakpoint($lg-bp) {
        justify-content: center;
        flex-direction: column;
        padding: 4rem 0rem 2.6rem 0rem;
        gap: 4rem;
    }

    @include breakpoint($xl-bp) {
        padding: 6.3rem 2.5rem 4.2rem 2.5rem;
    }

    .footer-content__adress {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 100.1%;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 14rem;

        @include breakpoint($lg-bp) {
            margin-bottom: 0rem;
        }

        @include breakpoint($jb-bp) {
            text-align: center;
        }

        @include breakpoint($sm-bp) {
            font-size: 2.1rem;
            line-height: 100.1%;
        }
    }

    .footer-content__mail {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 100.1%;
        text-transform: uppercase;
        color: #000000;
        border-bottom: 1px solid #000000;
    }

    .footer-content__contactsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        margin-left: 34.4rem;


        @include breakpoint($nb-bp) {
            margin-left: 24.4rem;
        }

        @include breakpoint($cos-bp) {
            margin-left: 11.4rem;
        }

        @include breakpoint($xl-bp) {
            margin-left: 0.8rem;
        }

        @include breakpoint($lg-bp) {
            margin-left: 0rem;
        }

        .footer-content__phones {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a {
                font-style: normal;
                font-weight: 500;
                font-size: 2rem;
                line-height: 100%;
                text-transform: uppercase;
                color: #000000;
                border-bottom: 1px solid #000000;



                @include breakpoint($sm-bp) {
                    font-size: 2.1rem;
                }
            }
        }

        .footer-content__socialMediaContainer {
            display: flex;
            gap: 3rem;
            align-items: center;

            svg {
                width: 4.5rem;
                height: 4.5rem;            
            }

            img {
                width: 100%;
            }
        }

        .footer-content__yar {
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 136.6%;
            text-decoration-line: underline;
            color: #000000;

            @include breakpoint($sm-bp) {
                font-size: 1.7rem;
            }
        }
    }

    .footer-content__mail {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 100.6%;
        color: #000000;
        border-bottom: 1px solid #000000;
    }
}

.footer-content__mail_mobile {
    display: none;
    font-size: 2rem !important;
    font-weight: 500 !important;

    @include breakpoint($jb-bp) {
        display: block;
    }
}

.footer-content__mail_desctop {
    margin-left: auto;
    font-size: 2rem !important;
    margin-bottom: 14.4rem;
    @include breakpoint($jb-bp) {
        display: none;
    }

    @include breakpoint($lg-bp) {
        margin-bottom: 0rem;
        margin-left: unset;
    }
}