.organizationOfSpace-organization_position {
    margin-top: 10.3rem;

    @include breakpoint($xl-bp) {
        margin-top: 13rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 10rem;
    }
}

#organizationServices {
    display: none;
}

.organizationOfSpace {
    padding-bottom: 17.6rem;
    width: 82.6%;

    @include breakpoint($xl-bp) {
        width: 100%;
    }
}

.organizationOfSpace-organization {

    @include breakpoint($lg-bp) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    h2 {
        font-weight: 500;
        font-size: 6.4rem;
        line-height: 120.6%;
        text-transform: uppercase;
        color: #000000;
        padding-left: 3.6rem;

        @include breakpoint($xl-bp) {
            padding-left: 2.2rem;
        }        

        @include breakpoint($lg-bp) {
            padding-left: unset;
        }

        @include breakpoint($sm-bp) {
            font-size: 4.5rem;
        }
    }

    .organizationOfSpace-organization__contentBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
        padding-left: 3.6rem;

        // @include breakpoint($xl-bp) {
        //     padding-left: 2.2rem;
        // }    

        // @include breakpoint($lg-bp) {
        //     padding-left: unset;
        // }

        @include breakpoint($xl-bp) {
            flex-direction: column-reverse;
            gap: 1rem;
            padding-left: unset;
        }

        .organizationOfSpace-organization__text {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 130.6%;
            color: #000000;
            width: 35.7%;

            @include breakpoint($cos-bp) {
                font-size: 2.2rem;
            }

            @include breakpoint($xl-bp) {
                width: 100%;
            }
        }

        .organizationOfSpace-organization__imgContainer {
            width: 58.66%;

            @include breakpoint($xl-bp) {
                width: 100%;
            }

            img {
                width: 100%;
            }
        }
    }
}

.organizationOfSpace-whyContainer_position {
    margin-top: 20rem;
    padding-left: 3.6rem;

    @include breakpoint($xl-bp) {
        padding-left: 2.2rem;
    }    

    @include breakpoint($jb-bp) {
        margin-top: 10rem;
    }

}

.organizationOfSpace-whyContainer {

    @include breakpoint($lg-bp) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .organizationOfSpace-whyContainer__textContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3.4%;

        @include breakpoint($xl-bp) {
            flex-direction: column;
            align-items: baseline;
        }

        @include breakpoint($sm-bp) {
            gap: 2rem;
        }

        h2 {
            font-weight: 500;
            font-size: 6.4rem;
            line-height: 120.6%;
            text-transform: uppercase;
            color: #000000;
            width: 42%;

            @include breakpoint($sr-bp) {
                width: 60%;
            }

            @include breakpoint($sm-bp) {
                width: 100%;
                font-size: 4.5rem;
            }
        }

        .organizationOfSpace-whyContainer__subtitle {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 130.6%;
            color: #000000;

            @include breakpoint($xl-bp) {
                margin-top: 1.5rem;

            }

            @include breakpoint($sm-bp) {
                font-size: 2.4rem;
            }
        }

    }

    .organizationOfSpace-whyContainer__listContainer {
        display: flex;
        flex-direction: column;
        margin-top: 7.6rem;
        gap: 6rem;
        align-items: center;

        @include breakpoint($sm-bp) {
            margin-top: 4rem;
            gap: 3rem;
        }


        li {
            width: 46.3%;

            @include breakpoint($lg-bp) {
                width: 58%;
            }

            @include breakpoint($sm-bp) {
                width: 100%;
            }
        }

        .organizationOfSpace-whyContainer__number {
            font-weight: 800;
            font-size: 4rem;
            line-height: 100.1%;
            color: #000000;
            margin-bottom: 2rem;

            @include breakpoint($sm-bp) {
                font-size: 5.3rem;
            }
        }

        .organizationOfSpace-whyContainer__subtitle {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 130.6%;
            color: #000000;

            @include breakpoint($cos-bp) {
                font-size: 2.2rem;
            }

            @include breakpoint($xl-bp) {
                font-size: 2.2rem;
            }
        }
    }
}

#organizationInContact {

    @include breakpoint($xl-bp) {
        margin-top: 20rem;
    }

}

.organizationOfSpace-include__position {
    margin-top: 20rem;
    padding-left: 3.6rem;

    @include breakpoint($xl-bp) {
        padding-left: 2.2rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 10rem;
    }
}

.organizationOfSpace-include {
    display: grid;
    grid-template-columns: 0.52fr 1fr 1fr;
    overflow: hidden;

    @include breakpoint($xl-bp) {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    @include breakpoint($lg-bp) {
        margin-left: 0rem;
        padding-left: 2.5rem;
        // padding-right: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        padding-left: 1.5rem;
        // padding-right: 1.5rem;
    }

    .organizationOfSpace-include__imgContainer {
        width: 72.9%;
        margin-left: 9.6rem;

        @include breakpoint($xl-bp) {
            width: 60%;
            margin-left: 0rem;
            padding-right: 2.5rem;
        }

        @include breakpoint($jb-bp) {
            width: 100%;
        }

        @include breakpoint($sm-bp) {
            padding-right: 1.5rem;
        }


        img {
            width: 100%;
        }
    }

    .organizationOfSpace-include__text {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        @include breakpoint($sm-bp) {
            width: 60%;
        }

        h2 {
            font-style: normal;
            font-weight: 500;
            font-size: 6.4rem;
            line-height: 120.6%;
            text-transform: uppercase;
            color: #000000;

            @include breakpoint($sm-bp) {
                font-size: 4.3rem;
            }
        }

        a {
            font-weight: 800;
            font-size: 1.8rem;
            line-height: 2.5rem;
            letter-spacing: 0.03em;
            color: #000000;
            border-bottom: 2px solid #000000;
            width: 43%;
        }
    }

    .organizationOfSpace-include__swiperContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;

        @include breakpoint($xl-bp) {
            margin-left: 0rem;
            grid-row-start: 2;
        }

        
    }

    .organizationOfSpace-include__swiperBlock {
        display: flex;
        flex-direction: column;
        margin-top: 10.9rem;

        // @include breakpoint($cos-bp) {
        //     margin-top: 4.9rem;
        //   }

        @include breakpoint($sm-bp) {
            margin-top: 4rem;
        }

        .organizationOfSpace-include__swiper {
            margin-top: 3rem;

            .swiper-slide {
                font-weight: 600;
                font-size: 2rem;
                line-height: 130.6%;
                color: #000000;

                @include breakpoint($xl-bp) {
                    font-size: 2.2rem;
                    font-weight: 700;
                }

                @include breakpoint($sm-bp) {
                    font-size: 1.9rem;
                }
            }
        }
    }

    

    .organizationOfSpace-include__arrowsContainer {
        display: flex;
        gap: 2.5rem;
        padding-bottom: 1.8rem;
        border-bottom: 0.3rem solid #000000;

        svg {
            width: 3.4rem;
            height: 1.6rem;
            cursor: pointer;
        }
    }
}

.organizationOfSpace-linkContainer {
    display: flex;
    position: relative;

    // @include breakpoint($nb-bp) {
    //     padding-right: 15%;
    // }

    // @include breakpoint($cos-bp) {
    //     padding-right: 4%;
    // }

    @include breakpoint($jb-bp) {
        padding-right: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        padding-right: 1.5rem;
    }
}

.organizationOfSpace-linkContainer__link {
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 0.03em;
    color: #000000;
    border-bottom: 0.2rem solid #000000;

    width: 16.7%;
    position: absolute;
    top: -3rem;
    right: 22.4%;

    // @include breakpoint($nb-bp) {
    //     right: 19.2%;
    //     width: 19.4%;
    // }


    @include breakpoint($xl-bp) {
        margin-left: auto;
        position: unset;
        width: 26.6%;
        margin-top: 1rem;
    }

    @include breakpoint($lg-bp) {
        width: 30.1%;
    }

    @include breakpoint($jb-bp) {
        width: 32.2%;
        margin-top: 3rem;
    }

    @include breakpoint($sr-bp) {
        width: 40% !important;
    }

    @include breakpoint($sm-bp) {
        width: 55% !important;
    }
}

.organizationOfSpace-include_position {
    margin-top: 19.5rem;
    display: flex;
    justify-content: center;
    margin-right: 3.5rem;

    @include breakpoint($xl-bp) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-right: unset;
        margin-top: 8rem;
    }

    @include breakpoint($sm-bp) {
        margin-right: unset;
        margin-top: 4rem;

        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.organizationOfSpace-text_position {
    margin-top: 17rem;
    margin-left: 16.5%;

    @include breakpoint($jb-bp) {
        margin-left: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        margin-left: unset;
    }
}

.organizationOfSpace-text {
    display: flex;

    @include breakpoint($sm-bp) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .organizationOfSpace-text__content {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 137.1%;
        color: #000000;
        width: 64%;

        @include breakpoint($cos-bp) {
            font-size: 1.8rem;
        }

        @include breakpoint($lg-bp) {
            width: 95.73%;
        }

        @include breakpoint($sm-bp) {
            width: 100%;
        }
    }
}