.prices-main__position {
    margin-top: 10.3rem;
    padding-left: 3.6rem;

    @include breakpoint($cos-bp) {
        flex-direction: column;
        padding-left: 0rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 4.4rem;
    }
}

.prices {
    padding-bottom: 26.3rem;

    @include breakpoint($sm-bp) {
        padding-bottom: 13rem;
    }
}

.prices-main {
    display: flex;

    .prices-main__title {
        font-weight: 500;
        font-size: 6.4rem;
        line-height: 120.6%;
        text-transform: uppercase;
        color: #000000;

        @include breakpoint($jb-bp) {
            padding-left: 2.5rem;
        }

        @include breakpoint($sm-bp) {
            padding-left: 1.5rem;
            font-size: 4.2rem;
        }
    }

    .prices-main__content {
        margin-top: 3rem;

        @include breakpoint($sm-bp) {
            margin-top: 0rem;
        }

        .prices-main__container {

            display: flex;
            padding-bottom: 8rem;
            border-bottom: 3px solid #000000;
            padding-right: 21.5rem;
            justify-content: space-between;
            align-items: center;

            @include breakpoint($nb-bp) {
                padding-right: 5.5rem;
            }

            @include breakpoint($cos-bp) {
                padding-right: 2.5rem;
            }

            @include breakpoint($xl-bp) {
                align-items: unset;
            }

            @include breakpoint($jb-bp) {
                padding-left: 2.5rem;
            }
            
            @include breakpoint($sm-bp) {
                flex-direction: column;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                padding-top: 3rem;
                padding-bottom: 6rem;
            }


            .prices-main__imgContainer {
                width: 39.8%;

                @include breakpoint($sm-bp) {
                    width: 100%;
                }

                img {
                    width: 100%;
                }
            }

            .prices-main__textContainer {
                width: 51.4%;

                @include breakpoint($jb-bp) {
                    width: 57%;
                }

                @include breakpoint($sm-bp) {
                    width: 100%;

                    margin-top: 4rem;
                }
                

                .prices-main__textTitle {
                    font-weight: 700;
                    font-size: 2.4rem;
                    line-height: 147.02%;
                    letter-spacing: 0.04em;
                    color: #000000;
                    margin-bottom: 4rem;

                    @include breakpoint($sm-bp) {
                        margin-bottom: 2rem;
                        font-size: 2.7rem;
                    }
                }

                .prices-main__textSubtitle {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 142.06%;
                    letter-spacing: 0.03em;
                    color: #000000;
                    margin-bottom: 7.3rem;

                    @include breakpoint($sm-bp) {
                        font-size: 1.9rem;
                        margin-bottom: 3rem;
                    }
                }

                a {
                    font-weight: 700;
                    font-size: 2.4rem;
                    line-height: 133.06%;
                    letter-spacing: 0.03em;
                    text-decoration-line: underline;
                    color: #000000;
                }
            }
        }

        .prices-main__container:first-child {
            padding-top: 12rem;

            @include breakpoint($sm-bp) {
                padding-top: 3rem;
            }
        }

        .prices-main__container:not(:first-child) {
            padding-top: 7.8rem;
            @include breakpoint($sm-bp) {
                padding-top: 6rem !important;
                
            }
        }

        .prices-main__container:nth-child(2n) {
            flex-flow: row-reverse;

            @include breakpoint($sm-bp) {
                flex-direction: column;
                padding-top: 3rem;
            }
        }

        .prices-main__container:nth-last-child(-n+2) {
            border-bottom: unset;
        }

        

        .prices-main__textContainer__position {

            @include breakpoint($nb-bp) {
                width: 55% !important;
            }

            @include breakpoint($sm-bp) {
                width: 100% !important;
            }
            
        }
        
    }
}

.prices-main__container_border {
    @include breakpoint($sm-bp) {
        border-bottom: unset !important;
        padding-bottom: 0rem !important;
    }

}


.prices-contact_position {
    margin-top: 15.2rem;

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 4rem;
    }
}

.prices-contact__content {
    justify-content: unset !important;

    @include breakpoint($jb-bp) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        padding-left: unset;
        padding-right: unset;
    }
    
}