.realization-organization_position {
    width: 20.7% !important;

    @include breakpoint($xl-bp) {
        width: 100% !important;
    }
}

#realizationServicesText {
    display: none;
}

.realization {
    padding-bottom: 17.6rem;
    width: 82.6%;

    @include breakpoint($xl-bp) {
        width: 100%;
    }

    @include breakpoint($sm-bp) {
        padding-bottom: 10rem;
    }
}

.realization-imgContainer_position {
    width: 72.9% !important;

    @include breakpoint($xl-bp) {
        width: 100% !important;
        margin-top: 2rem;
    }
}

.realization-whyContainer__textContainer {
    gap: 0rem !important;
    @include breakpoint($sm-bp) {
        gap: 4rem !important;
    }
}

.realization-whyContainer__title {
    width: 71% !important;

    @include breakpoint($sm-bp) {
        width: 100% !important;
    }
}


.realization__padding {


    @include breakpoint($lg-bp) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-top: 9rem;
    }
}

.realization-include__position {
    margin-top: 15.9rem;
    padding-left: 3.6rem;

    grid-template-columns: 0.52fr 0.83fr 0.92fr;

    @include breakpoint($xl-bp) {
        grid-template-columns: repeat(1, 1fr);
        padding-left: unset;
        margin-left: unset;
        padding-left: 2.2rem;
    }

    @include breakpoint($jb-bp) {
        padding-left: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        padding-left: 1.5rem;
        margin-top: 10rem;
    }
}

.realization-include_positionForm {
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    margin-left: -2.9rem;

    @include breakpoint($sm-bp) {
        margin-left: 0rem;
    }
}

.realization-text_position {
    margin-top: 16.8rem;
    margin-left: 16.9%;

    @include breakpoint($jb-bp) {
        margin-left: 2.5%;
    }

    @include breakpoint($sm-bp) {
        margin-left: unset;
    }
}

.realization-swiper {
    margin-top: 10.4rem;
    position: relative;

    @include breakpoint($sm-bp) {
        margin-top: 6rem;
    }

    .swiper-slide {
        display: flex;
        padding-right: 6rem;
        border-right: 3px solid #000000;
        gap: 3rem;
        cursor: grab;


        @include breakpoint($cos-bp) {
            flex-direction: column;
            align-items: center;
        }

        @include breakpoint($jb-bp) {
            border-right: unset;
            padding-right: unset;
        }
    }

    .swiper-slide:active {
        cursor: grabbing;
    }

    .realization-swiper__textContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 47%;

        @include breakpoint($cos-bp) {
            width: 100%;
        }

        .realization-swiper__title {
            font-weight: 800;
            font-size: 4rem;
            line-height: 100.1%;
            color: #000000;

            @include breakpoint($sm-bp) {
                font-size: 5.3rem;
            }
        }

        .realization-swiper__subtitle {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 130.6%;
            color: #000000;
        }
    }
}

.realization-swiper__imgContainer {
    width: 50.966%;

    @include breakpoint($cos-bp) {
        width: 100%;
    }

    img {
        width: 100%;
    }
}

.realization-swiper__arrowsContainer {
    display: none;
    width: 12%;

    width: 12%;
    position: absolute;
    right: 0%;
    top: 2%;
    z-index: 11;

    @include breakpoint($jb-bp) {
        display: flex;
        gap: 2.5rem;
    }

    @include breakpoint($sm-bp) {
        right: 9%;
    }

    svg {
        width: 3.4rem;
        height: 2rem;
    }
}

.realization-swiper__bottomText {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 130.6%;
    color: #000000;
    margin-top: 20rem;
    width: 83%;

    @include breakpoint($jb-bp) {
        width: 100%;
        margin-top: 10rem;
    }

    @include breakpoint($sm-bp) {
        font-size: 3.2rem;
    }
}

.realization__params {
    margin-top: 7rem !important;

    @include breakpoint($xl-bp) {
        flex-direction: column !important;
    }

    @include breakpoint($sm-bp) {
        margin-top: 3rem !important;
        flex-direction: column-reverse !important;
    }
}

.realization__subtitleHelp {
    @include breakpoint($sm-bp) {
        font-size: 3.2rem !important;
    }
}

.realization-include__swiperBlock {
    @include breakpoint($sm-bp) {
        margin-top: 2rem !important;
    }
}

.realization-include__imgContainer {
    width: 78.4% !important;
    margin-left: 6.4rem !important;
}

.realization-linkContainer {
    @include breakpoint($xl-bp) {
        padding-left: 2.2rem;
    }
}


.realization-linkContainer__link {
    top: -2.7rem;
    right: 23.2%;

    @include breakpoint($nb-bp) {
        right: 20%;
    }

    @include breakpoint($cos-bp) {
        right: 14.4%;
    }

    

    @include breakpoint($xl-bp) {
        width: 27%;
        margin-left: unset;
    }

    @include breakpoint($lg-bp) {
        width: 30%;
    }

    @include breakpoint($jb-bp) {
        width: 32%;
    }

    @include breakpoint($sm-bp) {
        width: 56% !important;
    }


}