<footer class="footer">
    <div class="footer-content">
        <div class="footer-content__adress">
            Минск, площадь Свободы 23, пом. 64
        </div>

        <div class="footer-content__contactsContainer">
            <ul class="footer-content__phones">
                <li>
                    <a href="tel:+375(44)7026072">+ 375 (44) 702 60 72</a>
                </li>
                <li>
                    <a href="tel:+375(44)7089079">+ 375 (44) 708 90 79</a>
                </li>
            </ul>

            <a href="mailto:info@nordwex.com" class="footer-content__mail footer-content__mail_mobile">
                iotaarchitects@gmail.com
            </a>

            <ul class="footer-content__socialMediaContainer">
                <li>
                    <a href="https://www.instagram.com">
                        <svg>
                            <use href="#instIco"></use>
                        </svg>
                    </a>
                </li>

                <li>
                    <a href="https://ru-ru.facebook.com">
                        <svg>
                            <use href="#facebookLogo"></use>
                        </svg>
                    </a>
                </li>

                <li>
                    <a href="#" class="footer-content__beIcon">
                        <img src="./assets/images/footer/beIco.svg" alt="#">
                    </a>
                </li>
            </ul>

            <a href="https://bydesign.by" class="footer-content__yar">
                Разработка и дизайн сайта - студия ЯР
            </a>
        </div>

        <a href="mailto:info@nordwex.com" class="footer-content__mail footer-content__mail_desctop">
            iotaarchitects@gmail.com
        </a>
    </div>
</footer>