<header class="header">
    <div class="header-content">

        <div>

        </div>

        <div class="header-content__burgerTransition">
            <div class="header-content__burger header-content__burger_hover">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <section class="header-menu">
        <div class="header-menu__content">
            <div class="header-menu__helpCrossContainer">

                <div class="header-menu__helpCrossContainer_imgContainer">
                    <svg>
                        <use href="#logo"></use>
                    </svg>
                </div>

                <div>
                    <svg class="crossIco">
                        <use href="#menuCrossIco"></use>
                    </svg>
                </div>
            </div>

            <div class="header-menu__tabsContainer">
                <div class="header-menu__logoContainer">
                    <svg>
                        <use href="#logo"></use>
                    </svg>
                </div>

                <ul class="header-menu__tabsContent">


                    <li>
                        <a href="#" class="header-menu__tabsFirstLvlTitle">ПОРТФОЛИО</a>
                    </li>


                    <li>
                        <h2 class="header-menu__tabsFirstLvlTitle header-menu__tabsFirstLvlTitle_hover">УСЛУГИ</h2>
                        <div class="header-menu__tabsSecondLvlContainer">


                            <div class="header-menu__block header-menu__blockFirst">
                                <div class="header-menu__blockUnic">
                                    <a class="header-menu__linkTitle" href="#">Дизайн домов и коттеджей</a>

                                    <div>
                                        <button class="header-menu__accordionBtn">дИЗАЙН
                                            квартир</button>
                                        <div class="header-menu__accordionContent">
                                            <a href="#">Однокомнатные</a>
                                            <a href="#">Двухкомнатные</a>
                                            <a href="#">Трехкомнатные</a>
                                            <a href="#">Студии</a>
                                            <a href="#">Новостройки</a>
                                            <a href="#">Сталинки</a>
                                            <a href="#">Хрущевки</a>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <ul class="header-menu__block">
                                <li>
                                    <a href="#">дИЗАЙН Офисов</a>
                                </li>

                                <li>
                                    <a href="#">дИЗАЙН ресторанов</a>
                                </li>
                                <li>
                                    <a href="#">дИЗАЙН общественных пространств</a>
                                </li>

                                <li>
                                    <a href="#">дИЗАЙН магазинов</a>
                                </li>
                            </ul>


                            <ul class="header-menu__block header-menu__block_gridHelper">
                                <li>
                                    <a href="#">РЕАЛИЗАЦИЯ ДИЗАЙН-ПРОЕКТА</a>
                                </li>

                                <li>
                                    <a href="#">Дизайн под ключ</a>
                                </li>

                                <li>
                                    <a href="#">ОРГАНИЗАЦИЯ ПРОСТРАНСТВА</a>
                                </li>


                                <li>
                                    <a href="#">АВТОРСКИЙ НАДЗОР</a>
                                </li>
                            </ul>


                        </div>
                    </li>


                    <li>
                        <a href="#" class="header-menu__tabsFirstLvlTitle">О КОМПАНИИ</a>
                    </li>


                    <li>
                        <a href="#" class="header-menu__tabsFirstLvlTitle">ЦЕНЫ</a>
                    </li>


                    <li>
                        <a href="#" class="header-menu__tabsFirstLvlTitle">БЛОГ</a>
                    </li>


                    <li>
                        <a href="#" class="header-menu__tabsFirstLvlTitle">КОНТАКТЫ</a>
                    </li>
                </ul>

                <div class="header-menu__tabsHelper">

                </div>
            </div>
        </div>


    </section>

</header>