<header class="header">
    <div class="header-content">

        <div>

        </div>

        <div class="header-content__burgerTransition">
            <div class="header-content__burger header-content__burger_hover">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <section class="header-menu">
        <div class="header-menu__content">
            <div class="header-menu__helpCrossContainer">
                <div>
                    cross
                </div>
            </div>

            <div class="header-menu__tabsContainer">
                <div class="header-menu__logoContainer">
                    <a href="#"><img src="../assets/images/header/headerLogo.svg" alt="#"></a>
                </div>

                <div class="header-menu__tabsContent">


                    <div class="header-menu__tabsFirstLvlContainer">
                        <h2 class="header-menu__tabsFirstLvlTitle">ПОРТФОЛИО</h2>
                        <div class="header-menu__tabsSecondLvlContainer">


                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">Дизайн домов и коттеджей</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН квартир</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>




                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН Офисов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН ресторанов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>


                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН общественных пространств</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН магазинов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>


                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">РЕАЛИЗАЦИЯ ДИЗАЙН-ПРОЕКТА</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">Дизайн под ключ</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">ОРГАНИЗАЦИЯ ПРОСТРАНСТВА</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>


                                <div>
                                    <button class="header-menu__accordionBtn">АВТОРСКИЙ НАДЗОР</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="header-menu__tabsFirstLvlContainer">
                        <h2 class="header-menu__tabsFirstLvlTitle">УСЛУГИ</h2>
                        <div class="header-menu__tabsSecondLvlContainer">


                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">Дизайн домов и коттеджей</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН квартир</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>




                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН Офисов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН ресторанов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН общественных пространств</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН магазинов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>


                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">РЕАЛИЗАЦИЯ ДИЗАЙН-ПРОЕКТА</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">Дизайн под ключ</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">ОРГАНИЗАЦИЯ ПРОСТРАНСТВА</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>


                                <div>
                                    <button class="header-menu__accordionBtn">АВТОРСКИЙ НАДЗОР</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="header-menu__tabsFirstLvlContainer">
                        <h2 class="header-menu__tabsFirstLvlTitle">О КОМПАНИИ</h2>
                        <div class="header-menu__tabsSecondLvlContainer">


                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">Дизайн домов и коттеджей</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН квартир</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>




                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН Офисов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН ресторанов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН общественных пространств</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН магазинов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>


                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">РЕАЛИЗАЦИЯ ДИЗАЙН-ПРОЕКТА</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">Дизайн под ключ</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">ОРГАНИЗАЦИЯ ПРОСТРАНСТВА</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>


                                <div>
                                    <button class="header-menu__accordionBtn">АВТОРСКИЙ НАДЗОР</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="header-menu__tabsFirstLvlContainer">
                        <h2 class="header-menu__tabsFirstLvlTitle">ЦЕНЫ</h2>
                        <div class="header-menu__tabsSecondLvlContainer">


                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">Дизайн домов и коттеджей</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН квартир</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>




                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН Офисов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН ресторанов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН общественных пространств</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН магазинов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>


                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">РЕАЛИЗАЦИЯ ДИЗАЙН-ПРОЕКТА</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">Дизайн под ключ</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">ОРГАНИЗАЦИЯ ПРОСТРАНСТВА</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>


                                <div>
                                    <button class="header-menu__accordionBtn">АВТОРСКИЙ НАДЗОР</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="header-menu__tabsFirstLvlContainer">
                        <h2 class="header-menu__tabsFirstLvlTitle">БЛОГ</h2>
                        <div class="header-menu__tabsSecondLvlContainer">


                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">Дизайн домов и коттеджей</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН квартир</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>




                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН Офисов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН ресторанов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН общественных пространств</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН магазинов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>


                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">РЕАЛИЗАЦИЯ ДИЗАЙН-ПРОЕКТА</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">Дизайн под ключ</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">ОРГАНИЗАЦИЯ ПРОСТРАНСТВА</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>


                                <div>
                                    <button class="header-menu__accordionBtn">АВТОРСКИЙ НАДЗОР</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="header-menu__tabsFirstLvlContainer">
                        <h2 class="header-menu__tabsFirstLvlTitle">КОНТАКТЫ</h2>
                        <div class="header-menu__tabsSecondLvlContainer">


                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">Дизайн домов и коттеджей</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН квартир</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>




                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН Офисов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН ресторанов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН общественных пространств</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">дИЗАЙН магазинов</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>


                            <div class="header-menu__block">
                                <div>
                                    <button class="header-menu__accordionBtn">РЕАЛИЗАЦИЯ ДИЗАЙН-ПРОЕКТА</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">Дизайн под ключ</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>

                                <div>
                                    <button class="header-menu__accordionBtn">ОРГАНИЗАЦИЯ ПРОСТРАНСТВА</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>


                                <div>
                                    <button class="header-menu__accordionBtn">АВТОРСКИЙ НАДЗОР</button>
                                    <div class="header-menu__accordionContent">
                                        <a href="#">Однокомнатные</a>
                                        <a href="#">Двухкомнатные</a>
                                        <a href="#">Трехкомнатные</a>
                                        <a href="#">Студии</a>
                                        <a href="#">Новостройки</a>
                                        <a href="#">Сталинки</a>
                                        <a href="#">Хрущевки</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="header-menu__tabsHelper">
                    afsfasfasfasfasfasfsafasfsafasfs
                </div>
            </div>
        </div>


    </section>

</header>